.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.play-button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.play-button:hover {
    background-color: #008CBA;
    color: white;
}
.update-button {
    background-color: white;
    color: black;
    border: 2px solid #DDEC7CFF;
    margin: 7px;
}

.update-button:hover {
    background-color: #DDEC7CFF;
    color: white;
}

.guess-button {
    background-color: white;
    color: black;
    border: 2px solid #32EE16FF;
    margin: 7px;
}

.guess-button:hover {
    background-color: #32EE16FF;
    color: white;
}
